


.container {width: 100%; height: 100%}

.logo {float: left;
       font-family: Arial, sans-serif;
	   font-size: 15pt;
	   margin: 0;
	   margin-left: 20px;
	   margin-top: 20px;
	   padding: 0;
	   border: 0;
	   z-index: 3;}
	   
	   .logo a {color: black;}

a {text-decoration: none;}	   

#nav{
     position: relative;
      width:auto;
      display: flex;
      padding-left: 2em;
      padding-top: 20px;
}	

#nav p {text-decoration: none;
font-family: Arial, sans-serif; font-size: 10pt; padding-left: 10px; margin: 0;
}

#nav li {list-style:none; display:inline-block; width:190px; line-height:18px; 
}
.color-white{color: white;}
.nav1{color: #F8B733}
.nav1:hover {color: white;}
.nav2{color: #EE8107}
.nav2:hover {color: white;}
.nav3{color: #BD105B}
.nav3:hover {color: white;}
.nav4{color: #871776}
.nav4:hover {color: white;}
.nav5{color: #4CA182}
.nav5:hover {color: white;}


#search_text{
    width: 180px;
    padding-left: 10px;
    font-size: 10pt;
    font-family: Arial, sans-serif;
    border: 0 none;
    height: 18px;
    color:#ffffff;
    outline: none;
    background:black;
    margin-right: 150px;
    
}

.box{background-color: white; width: 300px; height: 100px; position: absolute; display: inline-block;
	margin: 0; padding: 0; border-style: solid; border-top-color: #EE8107;color: white;}
.box h {margin-top: 10px;font-family: 'Arial black', sans-serif; font-size: 15pt; color: #EE8107}
.box p{margin-top: 3px; font-family: Arial, sans-serif; font-size: 10pt; color: #EE8107; }

.img1 {
	   z-index: -10;
	   margin: 0px auto; padding: 0; margin-top: 30px; margin-left: 200px;
}
.img2 { z-index: -10; 
	   margin: 0px auto; padding: 0; border:0; margin-top: 30px; margin-left: 200px;}

.content1 {font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0; padding: 0;border: 0;
           text-align: left; width: 600px; margin: 0 auto;
	      
}

.content1 h2{color: #F8B733;
}	 
.content1 p{font-size: 10pt; }  	   
	   
footer{
    bottom: 0;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 36px;
    z-index: 20;    background-color: white;} 
   
.footer-right {font-family: Arial, sans-serif;
               font-size: 12px;
	           float: right;
	           padding-right: 20px;
	           margin-top: 10px;
	           z-index: 20;
	       
	            
	           
}     
	   

#bottom {background: black;
         position: fixed;
         left: 0px;
         right: 0px;
         height: 8px;
         bottom: 30px;} 
           
